.banniere {
    display: flex;
    /* position: absolute; */
    width: 70%;
    height: 20%;
    left: 100px;
    mix-blend-mode: darken;
    top: 171px;
    /* opacity: 0.3; */
    background-color: red;
    background-image: url(../../public/banniere.png);
    border-radius: 25px;
}