.error{
    display: flex;
    color: #FF6060;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1{
    font-weight: 900;
    font-size: 150px;
    margin: 0;
}

.error a{
    margin-top: 180px;
    color: #FF6060;
}