.footer{
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 301px;
    height: 117px;
    text-decoration-color: white;

}