.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F6F6F6;
    margin: auto;
    padding: 20px;
    /* left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; */
    border-radius: 25px;
    flex-wrap:  wrap ;
    max-width: 90%;
}

.home a{
    text-decoration: none;
    /* color: #FF6060; */
}

.homeBanner{
    display: flex;
    flex-direction: row;
}

.homeNav{
    margin: 10px auto;
    /* max-width: 95%; */
    /* margin-right: auto;
    margin-left: auto; */
    /* padding: 1rem; */
    /* border: solid 1px red; */
}