.housing{
margin: auto;
width: 90%;
}

.info{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FF6060;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainTitle p, h1{
    margin: 0px;
}

.host{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.host img{
    border-radius: 50%;
    height: 60px;
}

.host span{
    color: #FF6060;
    font-size: 35px;
}

.material-icons{
    color: grey;
}

.dropdown2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 25px;
    position: relative;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.tags p{
    background-color: #FF6060;
    color: white;
    list-style:none;
    border-radius: 10px;
    padding: 5px;
    width: 6rem;
    display: flex;
    justify-content: center;
    font-size: 11px;
}

  .stars{
    width: 180px;
  }

@media screen and (max-width: 640px) {

    .dropdown2 {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-bottom: 20px;
        text-decoration: none;
        color: #FF6060;
        width: 100%;
    }

    .host{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
    }

    .host span{
        color: #FF6060;

    }
    .floatright{
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 115px;
      }

      .title{
        width: 100%;
      }
      .material-icons{
        color: grey;
    }
  }

  .floatright{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }