/* .nav{
    display: flex;
    border: solid 1px blue;
    margin: 20px auto;
    width: 90%;
    height: 223px;
    left: 100px;
    top: 171px;
    max-width: 90%;
} */

.aa{
  color: #FF6060;
}

 .aa:hover, .aa:active{
  text-decoration: underline;
}

.navigation{
    height: 60px;
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    text-decoration: none;
    color: #FF6060;
    padding: 1rem;
    margin: auto;
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  .navigation-menu {
    margin-left: auto;
  }

  .navigation-menu ul {
    display: flex;
    padding: 0;
  }

  .navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
  }

  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }
