body {
  margin: 0;
  font-family:"montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  min-height: 100%;
}

#root{
  height: 100%;
}

code {
  font-family: "montserrat";
}


.homeNav{
  margin: 10px auto;
}