body {
  margin: 0;
  font-family:"montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex; */
  /* flex-direction: column; */
}


code {
  font-family: "montserrat";
}

/* .home{
  border: solid 1px
} */